.node-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: var(--fourth-bg-color);
    transition: background-color 0.3s ease;
}

.node-container.is-selected {
    background-color: var(--secondary-bg-color);
}

.node-container:hover {
    background-color: var(--third-bg-color);
}

.add-topic-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.add-topic-wrapper > button {
    display: flex;
}

div[role=tree] > div > div {
    height: 0px !important; /* overloading react-arborist inline style */
}