.node-container {
    display: flex;
    height: 100%;
    align-items: center;
    width: 100%;
    background-color: var(--fourth-bg-color);
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.node-container.is-selected {
    background-color: var(--secondary-bg-color);
}

.node-container:hover {
    background-color: var(--third-bg-color);
}


.actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 10px;
    margin-left: 10px;
}

.actions button {
    display: flex;
    align-items: center;
    color: #999999;
    background-color: inherit;
    border: none;
    font-size: 16px;
    height: 100%;
    width: 30px;
}

.node-container .actions {
    visibility: hidden;
}
.node-container:hover .actions {
    visibility: visible;
}



.add-topic-button {
    margin-left: 20px;
}