.container {
    display: flex;
    flex-direction: row;
}

.left-menu {
    display: flex;
    padding: 5px;
    flex-direction: column;
    gap: 20px;
    width: fit-content;
    background-color: var(--fourth-bg-color);
    border-radius: 5pt;
    border: 0.25px solid var(--grey);
}

.board {
    display: flex;
    flex-direction: row;
    width: fill-available;
}