:root {
    --main-bg-color:  rgb(30, 30, 30);
    --secondary-bg-color: rgb(37, 37, 37);
    --third-bg-color: rgb(48, 48, 48);
    --main-text-color: rgb(245, 245, 245);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: monospace;
}

button:hover {
    background-color: rgba(255,255,255,.08);
    cursor: pointer;
}

input[type=text], input[type=password] {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

.action-button {
    color: #fff;
    background-color: rgba(255,255,255,0);
    text-align: center;
    width: fit-content;
    text-transform: none;
    border: 1px solid #fff;
    border-radius: 12px;
    padding: 8px 16px;
}
