:root {
    --main-bg-color:  rgb(30, 30, 30);
    --secondary-bg-color: rgb(37, 37, 37);
    --third-bg-color: rgb(48, 48, 48);
    --main-text-color: rgb(245, 245, 245);
}

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
}

