.board-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 1px solid var(--grey);
}

.board-header {
    text-align: center;
    padding: 10px 0 10px 0;
    border: 1px solid var(--grey);
}

.left.board-header, .left.board-section {
    border-top-left-radius: 5px;
}

.right.board-header, .right.board-section {
    border-top-right-radius: 5px;
}

.right.board-section {
    border-bottom-right-radius: 5px;
}

.left.board-section {
    border-bottom-left-radius: 5px;
}

.board-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 25px
}

